body {
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    width: fit-content;
    margin: auto;
    padding-top: 0.5vh;
    padding-bottom: 3vh;
}

#dogsFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog {
    width: 50vw;
    padding-bottom: 0;
}

.dogDiv {
    width: fit-content;
}

.voteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voteCount {
    margin: 0 0 1vh 0;
}

.buttons {
    padding-top: 0;
    margin: 0 0 2vh 0;
}

.upvote, .downvote, .submit {
    border-radius: 25px;
    border: 2px solid;
}

.upvote {
    margin-right: 5px;
    background-color: rgb(127, 240, 127);
    transition: 0.1s;
    border-color: rgb(48, 255, 48);
}

.upvote:hover {
    background-color: rgb(48, 255, 48);
}

.downvote {
    margin-left: 5px;
    background-color: rgb(255, 108, 108);
    transition: 0.1s;
    border-color: rgb(255, 81, 81);
}

.downvote:hover {
    background-color: rgb(251, 81, 81);
}

.submit {
    background-color: rgb(88, 228, 253);
    transition: 0.1s;
    border-color: rgb(52, 225, 255);
}

.submit:hover {
    background-color: rgb(38, 222, 255);
}

.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posted {
    overflow-y: scroll;
    max-height: 20vh;
    width: 40vw;
    background-color: aquamarine;
    list-style: none;
    padding-left: 5px;
}

.comment {
    padding-bottom: 10px;
    padding-left: 0;
}

.comment .inner {
    font-size: 12px;
}

.commentForm {
    display: flex;
    align-items: center;
}

.commentField {
    margin: 0 10px;
    min-width: 25vw;
    min-height: 3vh;
    max-width: 40vw;
    max-height: 50vh;
    background-color: whitesmoke;
}

#load {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 25px;

    background-color: rgb(101, 163, 255);
    border: 1px solid rgb(56, 136, 255);
    border-radius: 25px;
    transition: 0.1s;
}

#load:hover {
    background-color: rgb(56, 136, 255);
}

#toggle {
    position: absolute;
    right: 5vw;
    top: 10px;

    border-radius: 0;
    border: 1px solid grey;
    transition: 0.1s;
}

#toggle:hover {
    background-color: rgb(215, 215, 215);
}

.hide {
    display: none;
}

.expand {
    margin-bottom: 2vh;
}


@media screen and (max-width: 700px) {
    .dog {
        width: 85vw;
    }

    .posted {
        width: 85vw;
    }

    .commentForm {
        flex-direction: column;
    }

    .commentField {
        min-width: 60vw;
        max-width: 75vw;
        max-height: 30vh;
        margin: 10px 0;
    }

    #toggle {
        right: 0;
        top: 0;
    }
}
